@import url(Estilos_generales.css);
@import url(componentes.css);

/* *** ENCABEZADO - HEADER *** */

header{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    height: var(--altura-encabezado-mobile);
    background-color: var(--color-principal);
    color: var(--color-oscuro-principal);
    box-shadow: 0px 12px 38px -20px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 12px 38px -20px rgba(0, 0, 0, 1);
    z-index: 999;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 150px;
}

header button{
    margin-left: 150px;
}

header .logo img{
    padding: 0;
    margin: 0;
    width: 70px;
    height: 60px;
}

.logo p{
    color: var(--color-oscuro-principal);
    font-weight: 600;
    font-size: 1.5rem;
}

/* *** INICIO - HOME *** */

.inicio{
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/fondo-home.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: scale-down;
}

.inicio h1{
    font-size: 170%;
}

.hero-image{
    width: inherit;
    height: inherit;
    background-color: rgba(251, 213, 229, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    margin:auto;
}


/* *** SOBRE NOSOTROS - ABOUT US *** */

.sobre-nosotros{
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-nosotros h2{
    margin: 1em;
}

.mision, .vision, .valores{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.mision h3, .vision h3, .valores h3{
    align-self: flex-start;
    padding: .2rem .5rem;
    border-left: 2px solid red;
}

.mision h3{
    border-left: 2px solid green;
}

.vision h3{
    border-left: 2px solid blue;
}

.sobre-nosotros * img{
    min-width: 30%;
    max-width: 40%;
    min-height: 50%;
    max-height: 70%;
}


/* ******** PRODUCTOS - PRODUCTS ********* */

.productos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
}

.productos h2{
    margin: 1rem auto;
}


/* ******** CONTACTO - CONTACT ********* */

.contactanos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secundario);
}

/* ******** PIE DE PAGINA - FOOTER ********* */

.pie-pagina{
    background-color: var(--color-oscuro-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pie-pagina p{
    color: var(--color-oscuro-secundario);
    margin: 0;
}


.pie-pagina .redes-footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

.redes-footer img{
    min-width: 20px;
    max-width: 30px;
    min-height: 20px;
    max-height: 30px;
    margin: 10px 10px;
}

.redes-footer .wsp, .redes-footer .fb, .redes-footer .ig{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-oscuro-secundario);
} 

.redes-footer a:hover{
    opacity: .7;
    background-color: transparent;
}

.redes-footer .wsp:hover{
    color: #008000;
}

.redes-footer .fb:hover{
    color: #0000ff;
}

.redes-footer .ig:hover{
    color: #c93a8d;
}


@media only screen and (min-width: 768px) {
    .menu-desktop{
        visibility: hidden;
        display: none;
    }

    header{
        justify-content: space-between;
    }

    .menu{
        height: 100%;
    }

    .menu a{
        font-size: 2rem;
    }

    .inicio{
        background-image: url("../assets/bg-tablet.jpeg");
    }

    .inicio .hero-image .container{
        visibility: hidden;
        display: none;
    }

    .inicio .hero-image .container-tablet{
        visibility: visible;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 150px;
        width: 55%;
        gap: 10px;
    }


    .inicio .hero-image .container-tablet p{
        width: 80%;
        font-size: 1.5rem;
    }

    .inicio .hero-image .container-tablet a{
        width: 60%;
        height: 3.5em;
    }

    .slider-slides{
        height: 900px;
    }

    .slider-btns{
        font-size: 5.5rem;
    }

    .card p{
        font-size: 1.5rem;
        margin-top: 3rem;
    }

    .card .verMas-btn{
        margin-top: 5.5rem;
        width: 60%;
        height: 5.5rem;
        font-size: 2rem;
    }

    .form-container{
        height: 800px;
        justify-content: space-evenly;
    }

    .form-container .contactanos-btn{
        width: 80%;
        font-size: 2rem;
    }
    
    .contact-form legend{
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .panel-btn{
        visibility: hidden;
        display: none;
    }

    header{
        align-items: center;
        justify-content: space-evenly;
    }

    .menu-desktop{
        display: flex;
        visibility: visible;
        column-gap: 1.5em;
    }
    
    .menu-desktop a{
        text-decoration: none;
        color: var(--color-oscuro-principal);
        font-weight: 600;
    }

    .menu-desktop a:hover{
        scale: 1.1;
        border-bottom: 2px solid var(--color-oscuro-principal);
    }

    .inicio{
        visibility: hidden;
        display: none;
    }

    .inicio-desktop{
        width: 100vw;
        height: 100vh;
        background-color: var(--color-principal);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inicio-desktop img{
        filter: drop-shadow(10px 5px 10px var(--color-oscuro-principal));
        height: 90%;
    }

    .inicio-desktop .container{
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    .inicio-desktop .container h2{
        text-decoration: none;
        font-size: 2rem;
        padding: 0;
        margin-top: 12px;
        text-align: start;
    }

    .inicio-desktop .container p{
        font-size: 1.3rem;
    }

    .inicio-desktop .container .contactanos-btn-dark{
        width: 40%;
        height: 4em;
    }

    .sobre-nosotros{
        visibility: hidden;
        display: none;
    }

    .sobre-nosotros-desktop{
        background-color: var(--color-secundario);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros-desktop h2{
        margin: 1em;
        margin-bottom: 4em;
    }

    .sobre-nosotros-desktop .mision{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }

    .sobre-nosotros-desktop .mision .mision-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }

    .sobre-nosotros-desktop .mision img{
        width: 40%;
        height: 400px;
    }

    .sobre-nosotros-desktop .vision{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }

    .sobre-nosotros-desktop .vision .vision-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }

    .sobre-nosotros-desktop .vision img{
        width: 40%;
        height: 400px;
    }

    .sobre-nosotros-desktop .valores{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }

    .sobre-nosotros-desktop .valores .valores-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }

    .sobre-nosotros-desktop .valores img{
        width: 40%;
        height: 400px;
    }

    .slider-slides{
        height: 550px;
        width: 33%;
        margin: auto;
    }

    .slider .verMas-btn{
        margin-top: 1em;
        font-size: 1.3rem;
        height: 2em;
    }

    .slider-btns{
        width: 44%;
        left: 28%;
    }

    .card-focus{
        width: 33%;
    }

    .card-focus .contactanos-btn{
        height: 3em;
        width: 80%;
    }

    .form-container{
        width: 50%;
    }

    .form-container .contactanos-btn{
        height: 3em;
        width: 80%;
    }

    .pie-pagina{
        visibility: hidden;
        display: none;
    }

    .pie-pagina-desktop{
        background-color: var(--color-oscuro-principal);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 5em;
    }

    .pie-pagina-desktop .redes-footer{
        display: flex;
    }

    .footer-text{
        color: var(--color-secundario);
        row-gap: 1em;
    }

    .pie-pagina-desktop p{
        margin: 0;
        padding: 0;
    }
}
